<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BSc in Business Administration</h1>
            <span>Saxion University of Applied Sciences</span>
            <span><address>The Netherlands</address><time>2011 to 2015</time></span>
        </header>
        <p>
            <em>Thesis:</em> 
        <p>Project life cycle B.V: Create a marketing plan for the Dutch company to enter Vietnam market in field of tourism and trading bicycle.</p>
        </p>
        <p>  
            <em>Internship:</em> 
        <p>Trainee at Saxion internaional office, recruiment and partnership department.</p>
        </p>
        <p>  
            <em>Minor program:</em> 
        <p>Sustainable international Business.</p>
        </p>
    </article>
</section>
