<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior Product Marketing Supervisor</h1>
            <span><address>Piaggio Group, APAP region</address><time>2019 to 2020</time></span>
        </header>
        <p>- Maintain responsibilities as the previous role.</p>
        <p>- Manage product financial evaluation (development and investment cost, ROI, and sale units) to meet the market requirement and support the overall company business plan.</p>    
        <p>- Provide training activities to markets and their dealers if needed about new products, concepts, company profiles, and history.</p>
    </article>
    <article>
        <header>
            <h1>Product Marketing Supervisor</h1>
            <span><address>Piaggio Group, APAP region</address><time>2018 to 2019</time></span>
        </header>
        <article>
            Manage the activities related to Product Research & Management to ensure PIAGGIO’s products and their features are appropriately positioned in each market in all Asia Pacific, satisfy the target audience’s needs and contribute to the development of new products:
        </article>
        <p>- Provide all information related to products (technical specs, color range, sales guide.) to all markets in the Asia Pacific.</p>
        <p>- Check & verify all product information before publicity.</p>
        <p>- Be in charge of all questions/concerns coming from the markets about products (phase-in, phase-out time, homologation process, availability of homologation sample, etc…).</p>
        <p>- Implement product range in different markets by issuing RDV based on the requests of the market or on proper proposals.</p>    
        <p>- Participate in market research activities (In-house survey, Customer Satisfaction Research, Product research, etc…).</p>    
        <p>- Coordinate with R&D in PIAGGIO Vietnam and Head Quarter to keep track of new product introduction in various markets.</p>    
        <p>- Provide the concept of new model to BOD to evaluate the potentiality</p>
    </article>
    <article>
        <header>
            <h1>Product Planning Senior</h1>
            <span><address>Panasonic Home Appliances, Asia Pacific</address><time>2016 to 2018</time></span>
        </header>
        <article>
            Marketing analysis:
        <p>- Analyze market situation and make research about customer value/ competitor movement. </p>
        <p>- Prepare and attend meeting with sales companies for monthly sale report/ product inventory.</p>
        <p>- Coordinate and participate with sales companies activities to maximize sales results. </p>
        </article>
            
        <article>
            Product Planning:
        <p>- Create ideas & concepts for washing machine & refrigerator in Asia Pacific. </p>
        <p>- Study and understand product specifications, cost, sales quantity, price to satisfy the markets.</p>
        <p>- Collaborate with other departments (R&D, Factory) to ensure development & shipment schedule; Sale companies to create promotion plan for product launching. </p>
        <p>- Provide product information, product samples requested by sale companies. </p>
        <p>- Follow products until launching to market and timely update sales result for improvement if necessary.</p>
        </article>   
            
        <article>Business Planning:
        <p>Support manager to create product road map & business plan by utilizing mid-term plan for washing machine & refrigerator in Asia Pacific.</p>
        </article>     
    </article>
</section>
